.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background: rgb(251,127,176);
  background: linear-gradient(357deg, rgba(251,127,176,1) 0%, rgba(236,140,105,1) 100%); 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 4vmin);
  color: white;
  gap: 40px;
}

.App-link {
  color: #61dafb;
}

.table-header {
  font-size: large;
  color: #212529;
  display : flex;
  justify-content: space-between;
  font-weight: bold;
}

.table-content {
  font-size: large;
  color: #212529;
  display : flex;
  justify-content: space-between;
  padding : 10px;
}

.table-container {
  min-width: 800px;
  border-radius: 22px;
  border: black 1px solid;
  padding: 14px;
}

.form-container{
  display: flex;
  flex-direction: column;
  min-width: 800px;
  gap: 20px;
  align-items: center;
}

.inputs-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width : 100%;
  min-width: 800px;
}